body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.heading {
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-color: gray;
}
.profile img {
  height: 500px;
}
.profile img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.8s;
}
.profile-para {
  line-height: 25px;
  width: 800px;
}
.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}
.about-hero ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgb(190, 161, 161);
  list-style: none;
  height: 140px;
}
.about-hero {
  text-align: center;
  margin-top: 20px;
}
.about-hero p {
  width: 500px;
  text-align: center;
}

/* Nav-bar CSS */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  position: relative;
  text-decoration: none;
}

nav a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

nav a:hover:after {
  border-color: #ff0000; /* Change this to the desired color */
}
.navbar-brand img {
  max-height: 200px; /* Adjust as needed */
  margin-top: -10px; /* Adjust as needed */
  width: 400px;
}
.img-size {
  width: 200px;
  height: 130px;
}
.navbar-brand img {
  margin-bottom: 0; /* Remove bottom margin of the image */
  height: 80px; /* Set a fixed height for the image */
}

.navbar-nav {
  margin-top: 0; /* Remove top margin of the navbar */
}
