body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}
.heading {
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
}
.about-hero-pic img {
  max-width: 600px;
  transition: 0.5s;
}
.about-hero-pic img:hover {
  transform: scale(1.02, 1.02);
}
.about-hero-text {
  max-width: 600px;
  padding: 30px;
  color: white;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-1 img,
.img-2 img {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.7s;
}
.img-1 img:hover {
  transform: scale(1.2, 1.2);
}
.img-2 img:hover {
  transform: scale(1.2, 1.2);
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.profile-1 {
  background-color: rgb(108, 110, 110);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-2 {
  background-color: rgb(76, 67, 85);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Nav-bar CSS */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  position: relative;
  text-decoration: none;
}

nav a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

nav a:hover:after {
  border-color: #ff0000; /* Change this to the desired color */
}
.navbar-brand img {
  max-height: 200px; /* Adjust as needed */
  margin-top: -10px; /* Adjust as needed */
  width: 400px;
}
.img-size {
  width: 200px;
  height: 130px;
}
.navbar-brand img {
  margin-bottom: 0; /* Remove bottom margin of the image */
  height: 80px; /* Set a fixed height for the image */
}

.navbar-nav {
  margin-top: 0; /* Remove top margin of the navbar */
}
