body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.heading {
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}
.profile img {
  width: 400px;
  margin-top: 30px;
}
.profile-para {
  width: 600px;
  line-height: 25px;
}
.box-div {
  background-color: antiquewhite;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.box-heading {
  text-align: center;
  width: 500px;
  margin-bottom: 40px;
}
.gridbox {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 100px;
  row-gap: 50px;
  justify-content: center;
}
.bottom-heading {
  text-align: center;
  width: 700px;
  word-spacing: 7px;
  margin-top: 20px;
}
.box {
  width: 200px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 10px;
}
/* Nav-bar CSS */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	position: relative;
	text-decoration: none;
}

nav a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s ease-in-out;
}

nav a:hover:after {
	border-color: #ff0000; 
}
.navbar-brand img {
  max-height: 200px; 
  margin-top: -10px; 
  width: 400px;
}